apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: client-app-ingress
  namespace: rapidconnect
  annotations:
    kubernetes.io/ingress.class: haproxy
spec:
  ingressClassName: haproxy
  rules:
    - host: api.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: client-app
                port:
                  number: 80
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: api-server
                port:
                  number: 5001
