apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: client-app-ingress
  namespace: rapidconnect
spec:
  rules:
    - host: rapidconnect.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: client-app
                port:
                  number: 80
