apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web-ingress
  namespace: rapidconnect
  annotations:
    kubernetes.io/ingress.class: haproxy
spec:
  ingressClassName: haproxy
  rules:
  - host: webdemo.rapidconnect.com
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: api-server
            port: 
              number: 5001
      - path: /
        pathType: Prefix
        backend:
          service:
            name: client-app
            port: 
              number: 80

