apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: rapidconnect
  labels:
    app: redis
spec:
  replicas: 1
  revisionHistoryLimit: 1

  selector:
    matchLabels:
      app: redis

  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7.2-alpine
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 6379

          command:
            - redis-server
            - "--requirepass"
            - "$(REDIS_PASSWORD)"

          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: api-server-secrets
                  key: REDIS_PASSWORD

          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
