apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-server
  namespace: rapidconnect
  labels:
    app: api-server
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 2

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  selector:
    matchLabels:
      app: api-server

  template:
    metadata:
      labels:
        app: api-server
    spec:
      containers:
        - name: api-server
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}       
          imagePullPolicy: Always

          ports:
            - containerPort: 5001

          envFrom:
            - configMapRef:
                name: api-server-config
            - secretRef:
                name: api-server-secrets

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

      imagePullSecrets:
        - name: regcred
