apiVersion: v1
kind: Service
metadata:
  name: api-server
  namespace: rapidconnect
spec:
  type: ClusterIP
  selector:
    app: api-server
  ports:
    - name: http
      port: 5001
      targetPort: 5001
