apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-app
  namespace: rapidconnect
  labels:
    app: client-app
spec:
  replicas: 1
  revisionHistoryLimit: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  selector:
    matchLabels:
      app: client-app

  template:
    metadata:
      labels:
        app: client-app
    spec:
      containers:
        - name: client-app
          image: 857565654393.dkr.ecr.ap-south-1.amazonaws.com/rapidconnect:rapid-client-app
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 3000

          envFrom:
            - configMapRef:
                name: client-app-config

          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"

          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 20
