name: CI pipeline for Frontend service to build and push Docker images to ECR
on:
    push: # To maintain simplicity, only triggering on push events to main branch
        branches:
        - main
    workflow_dispatch:
permissions:
  id-token: write # Required for requesting the Github Provider OIDC token
  contents: read 

jobs:
    build-push-ecr:
        if: |
            github.event_name == 'workflow_dispatch' ||
            contains(github.event.head_commit.message, 'ci-run') 
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v3         
            - uses: dorny/paths-filter@v3
              id: filter
              with:
                filters: |
                    client-app:
                        - 'docker/client-app/**'
                    api-server:
                        - 'docker/api-server/**'
                    worker-server:
                        - 'docker/worker-server/**'
                    db:
                        - 'docker/db/**'
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                    role-to-assume: ${{ secrets.ECR_GITHUB_ACTIONS_ARN }}
                    aws-region: ${{ secrets.AWS_REGION }}
            - name: Login to ECR
              uses: aws-actions/amazon-ecr-login@v2
              
            - name: Build and push Client App (Frontend) to ECR
              uses: ./.github/actions/build-push-ecr
              if: steps.filter.outputs.client-app == 'true'
              with:
                service_name: docker/client-app/
                image_tag: rapid-client-app
                dockerfile_path: docker/client-app/Dockerfile
                ecr_repo_name: ${{ secrets.ECR_REPO_NAME }}

            - name: Build and push API-server (Backend) App to ECR
              uses: ./.github/actions/build-push-ecr
              if: steps.filter.outputs.api-server == 'true'
              with:
                service_name: docker/api-server/
                image_tag: rapid-api-server
                dockerfile_path: docker/api-server/Dockerfile
                ecr_repo_name: ${{ secrets.ECR_REPO_NAME }}

            - name: Build and push Worker-server (Worker) to ECR
              uses: ./.github/actions/build-push-ecr
              if: steps.filter.outputs.worker-server == 'true'
              with:
                service_name: docker/worker-server/
                image_tag: rapid-worker-server
                dockerfile_path: docker/worker-server/Dockerfile
                ecr_repo_name: ${{ secrets.ECR_REPO_NAME }}

            - name: Build and push db to ECR
              uses: ./.github/actions/build-push-ecr
              if: steps.filter.outputs.db == 'true'
              with:
                service_name: docker/db/
                image_tag: rapid-db
                dockerfile_path: docker/db/Dockerfile
                ecr_repo_name: ${{ secrets.ECR_REPO_NAME }}